body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f2e6d8; /* Warm beige */
    font-family: Arial, sans-serif;
    color: #4a4a4a; /* Dark grey */
}

.main {
    background-color: #ffffff; /* White background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #ff6f61; /* Warm red-orange */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #e65c50; /* Slightly darker red-orange */
}

.google-btn {
    background-color: transparent;
    padding: 0;
}

.google-logo {
    width: 10%;
    max-width: 10%;
    height: auto;
}
